:root {
  --grid-height: 274px;
}

.article-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, var(--grid-height));

  gap: 32px;

  padding: 40px;
}

.article img {
  width: 100%;
}

.arrow-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 50px;
  height: 50px;

  background-color: #1d1f24;

  cursor: pointer;
}

.arrow-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 16px;
  height: 13px;
}

.prev-arrow {
  left: 0;
}

.next-arrow {
  right: 0;
}

.next-arrow img {
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.article:first-child {
  position: relative;

  grid-area: 1 / 1 / 3 / 4;
}

.article:first-child::after {
  content: '';

  position: absolute;
  top: 0;
  z-index: -1;

  width: 100%;
  height: calc(var(--grid-height) * 2 + 32px);

  background-color: #000000;
}
